* {
  box-sizing: border-box;
  /* border: 1px solid black; */
  background-color: #fae097;
}

body {
  font-family: sans-serif;
  margin: 20px;
  /* border: 2px solid orange; */
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 15px;
}

h2 {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

p{
  text-align: center;
  font-size: 18px;
}

button {
  font-size: 18px;
}

#game-page {
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  /* border: 2px solid green; */
}

.directions {
  width: 95%;
  margin-bottom: 2%;
  border: 6px dashed #5f2abb ;
  padding-bottom: 1%;
}

.directions p {
  padding: 0 5%;
  text-align: justify;
  text-align: center;
}

.game {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  /* border: 2px solid yellow; */
}

.game-components {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 100%;
}

.game-board {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 30%;
  /* border: 2px solid red; */
  min-width: 210px;
  min-height: 210px;
  max-width: 300px;
  max-height: 300px;
  height: 300px;
  margin: 0.5%;
  margin-right: 1%;
}

.status {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  /* border: 2px solid slateblue; */
}

.square {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background: #FAEDC9;
  border: 2px solid black;
  float: left;
  font-size: 250%;
  font-weight: bold;
  line-height: 34px;
  height: 100%;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 33.5%;
  /* border: 2px solid lightcoral; */
}

.board-row {
  margin-top: 5%;
  margin-bottom: -100%;
  width: 84%;
  height: 35%;
  /* border: 2px solid saddlebrown; */
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
  width: 102px;
}

 .board-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-height: 60%;
  min-height: 60%;
  margin-bottom: 10%;
}

.reset {
  text-align: center;
  background-color: #BF9110;
  color: #FAEDC9;
  height: 10%;
}

.turn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 49.8%;
  min-height: 80%;
  margin-top: 8%;
  /* border: 2px hotpink solid; */
  border: 5px solid #BF9110;
}

.title-div{
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 2px solid palevioletred; */
  margin-top: -4%;
  background: transparent;
}

.turn-title, .turn-list ol {
  width: 100%;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.turn-title {
  margin-top: 8%;
  border: 3px #7E57C2;
  border-style: none  none solid;
  width: 34%;
  font-size: 18px;
}

.turn-list ol {
  align-content: flex-start;
  flex-wrap: wrap;
  width: 40%;
  min-height: 70%;
  background-color: transparent;
  /* border: 2px solid salmon; */
}

.turn-list li {
  margin: 3% 0;
}

.move-btn {
  background-color: #FAEDC9;
}

.left-moves {
  /* border: 2px solid green; */
  margin-left: -5%;
}

/* .right-moves {
  border: 2px solid purple;
} */